<h1>liste des sociétés</h1>

  <div class="container">
    <div class="row">
      <% @companies.each do |company| %>
      <div class="col-md-6">
        <%= image_tag company.pictures.first.file.url(:medium) if company.pictures.size > 0 %>
          <div class="col-md-offset-1 col-md-10">
            <div class="row"> <!-- Row pour le header de la box -->
              <div class="col-md-offset-1 col-md-10">
                <div class="boxcompany"> <!-- Row pour la présentation de la compagnie -->
                <%= link_to company_path(company) do %>
                <h3><%= company.name %></h3>
                <p> <%= company.description %></p>
                <% end %>


                </div> <!-- Row pour la présentation de la compagnie -->
              </div>
            </div> <!-- Row pour le header de la box -->
          </div>
      </div>
      <% end %>
    </div>
  </div>


