@media only screen and (max-width: 400px) {
body {font-size: 98%}
}

.navbar-header .navbar-brand {
  text-decoration:none;
}

#bs-example-navbar-collapse-1 li a {
  text-decoration:none;
}

.boxcompany a {
  text-decoration:none;
}

.navbar-form {
  padding-top: 5px;
}

.buttonsearch {
  background-color: #18bc9c;
}

.buttonsearch:hover {
  background: #1dccaa;
}

.form-control {
 // background-color: rgba(44, 62, 80, 0);
  border-color: rgba(24, 188, 156, 0.58) !important;
}

.form-control::-webkit-input-placeholder { color: #18bc9c; }
